<%- include('../partials/html-head') %>
<%- include('../partials/_navbar.ejs') %>

    <title>Our Community</title>
</head>
<body>
    <h1>Our Community PlayBoxes</h1>
    <ul>
        <% users.forEach(user => { %>
            <li>
                <a href="/community/<%= user._id %>"><%= user.username %></a> 
            </li>
        <% }); %>
    </ul>

</body>
</html>