<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/style.css" />

<%- include('./partials/_navbar.ejs') %>
  <title>Home Page</title>
</head>

<body>
  <% if (user) { %>
    <h1>Welcome to your PlayBox, <%= user.username %>!</h1>
    <% } else { %>
    <h1>Welcome to the PlayBox, gamer!</h1>
    <% } %>
</body>

</html>