<%- include('./partials/html-head') %>
<%- include('./partials/_navbar.ejs') %>

  <title>Home Page</title>
</head>

<body>
  <% if (user) { %>
    <h1>Welcome to your PlayBox, <%= user.username %>!</h1>
    <% } else { %>
    <h1>Welcome to the PlayBox, gamer!</h1>
    <% } %>

    <div class="logo-container"><img src="/images/PlayBoxLogo.jpeg" alt="PlayBoxLogo" class="image"></div>
</body>

</html>